<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/style.css">
    <link rel="stylesheet" href="mediaQuery.css">
    <title>Lorens Fullstack</title>
</head>

<header class="topBar">
    <h1> Fullstack Java Developer - Portfolio</h1>

    <div class="sections">
        <a href="#aboutme">Acerca de mi</a>
        <a href="#proyects">Proyectos</a>
        <a href="#colaborate">Contactame</a>
    </div>
    
</header>
<body>
    <div class="ppl-section" id="aboutme">
        <div class="aboutme">
            
            <h2>Bienvenido/a a mi portafolio</h2>
            <p>Hagamos el mundo mejor, con una pagina web a la vez.</p>
                
        </div>

        
    </div>
    <div class="intro">
        <div class="me">
            <img src="../public/img/a-captivating-animated-drawing-from-gravity-falls--5o5eL3SiQ5ayl64VDlVvnQ-0U9TUB3vRkuhSmJlVGkLKg.jpeg" alt="Photo" class="profile-photo">
            <p>Me motiva seguir descubriendo como el desarrollo facilita el diario vivir de las personas y contribuir a realizar entornos intuitivos y de facil acceso para el mundo.</p>
            <div class="buttons">
                <a href="https://www.linkedin.com/in/francy-bejarano-desarrolladora/"><input type="submit" class="contact" value="Contactame"></a>
                <a href="../public/CV-Desarrollador Fullstack Java.pdf" target="_blank"><input type= "submit" class="download" value="Mira mi CV"></a>
            </div>
        </div>
        <h2>Habilidades</h2>
        <div class="skill-img">
            <img src="../public/img/github.png" alt="Github">
        </div>
    </div>

    <div class="proyects" id="proyects">
        <div class="container-proyects-left">
            <div class="proyect1">
                <p>Proyecto 1</p>
                <img src="../public/img/blueflme.png" alt="">
            </div>
            <div class="proyect2">
                <p>Proyecto 2</p>
            </div>
        </div>
        <div class="container-img">
            <img src="../public/img/a-captivating-animated-drawing-from-gravity-falls--5W1O-eopQSGlNGv8lnmT5w-U4KMuudGQeiy-wQNVdTJYw.jpeg" alt="imgProy" class="proyectImg">
            <div class="skill-img">
                <img src="../public/img/html.png" alt="HTML" class="top-img">
                <img src="../public/img/css.png" alt="CSS" class="right-img">
                <img src="../public/img/javascript.png" alt="JS" class="bottom-img">
                <img src="../public/img/java.png" alt="JAVA" class="left-img">
                
            </div>
        </div>
        <div class="container-proyects-right">
            <div class="proyect3">
                <p>Proyecto 3</p>
            </div>
            <div class="proyect4">
                <p>Proyecto 4</p>
            </div>
        </div>
    </div>

    <div class="colaborate" id="colaborate">
        <div class="colaborate-txt">
            <h3>Estas interesada/o en trabajar conmigo?</h3>
            <p>Siempre estoy en disposición para nuevos proyectos, cuentame</p>
        </div>    
        
        <form action="https://formspree.io/f/mwkggoql" method="POST" class="forms">
            
            <label for="name" >Nombre: <br>
                <input type="text" id="name" name="name" placeholder="Ingrese su nombre" required>
            </label>
            
            <label for="number">Número de telefono: <br>
                <input id="number" name="number" type="number" placeholder="Ingrese su número de contacto" required>
            </label>
        
            <label for="email">Correo electronico: <br>
                <input id="email" name="email" type="mail" placeholder="Ingrese su e-mail" required>
            </label>
            
            <label for="texto" >Mensaje: <br>
                <textarea name="texto" type="text" id="texto" placeholder="Cuentame que ideas tienes en mente." required> </textarea>
            </label>
           
            <input class="button-form" type="submit" value="Hagamoslo!">
        </form>


    </div>
</body>
<footer>

    

</footer>
</html>